
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

@font-face {
   font-family: 'digital';
   src: url('./7 Segment.ttf');
}



.inversor{
position:relative;

}

.btn{
background:none;
border:0.5px solid #eee;
border-radius:100%;
cursor:pointer;
position:absolute;
}

.reverse{
left:20px;
bottom:68px;
}

.cima{
left:90px;
bottom:120px;
}

.baixo{
left:90px;
bottom:75px;
}

#info{
position:absolute;
width:225px;
height:135px;
background:#4becc7;
top:40px;
left:29px;
display:flex;
flex-direction: column;
align-items:center;
justify-content:start;
}

#info h1{
font-family: 'digital';
font-size:62px;
letter-spacing:3px;
margin:0;
}

#descricao{
font-size:0.8em;
}

#info p{
margin:0;

}

   .faixa-array {
      display: none;
    }

